{% load staticfiles %}
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 nopadding sideblock">
    <div class="cube col-lg-11 col-md-11 col-sm-11 col-xs-12 nopadding">
        <div class="col-sm-12" id="rotate_adv_3">
        {% if adv %}
            {% for adv in adv %}
                {% if adv.position == '3' %}
                    <a href="{{ adv.adv_url }}" target="_blank">
                        <img src="{{ adv.url.url }}" style="width:100%;height:auto;">
                    </a>


                {% endif %}
            {% endfor %}
        </div>
        {% else %}
            <img src="{% static 'img/adv3.png' %}" style="width:100%;height:auto;">

        {% endif %}

    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs nopadding"></div>
</div>