{% load staticfiles %}
<div class="col-lg-8 col-lg-offset-2">

    {% if adv %}
                    {% for adv in adv %}
                        {% if adv.position == '4' %}
                                <img src="{{ adv.url.url }}" style="margin:30px 0;width:100%;height:auto;">

                        {% endif %}
                    {% endfor %}
                {% else %}
                    <img src="{% static 'img/adv4.png' %}" style="margin:30px 0;width:100%;height:auto;">

                {% endif %}
</div>