{% load staticfiles %}
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right nopadding sideblock">
    <div class="cube col-lg-11 col-md-11 col-sm-11 col-xs-12 nopadding">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 title"><h4>Forex</h4></div>
        {% comment %}{% endcomment %}

        <!-- myfxbook.com volume widget - Start -->
        <div>
            <script class="powered" type="text/javascript"
                    src="http://widgets.myfxbook.com/scripts/fxVolume.js?symbols=1,2,3,5&servers="></script>
            <div style="color: #706f6f;font-weight: bold;font-size: 11px;font-family: Tahoma;">Powered by <a
                    href="https://www.myfxbook.com" class="myfxbookLink"><b style="color: #575454;">Myfxbook.com</b></a>
            </div>
            <script type="text/javascript">showVolumeWidget()</script>
        </div>
        <!-- myfxbook.com volume widget - End -->

    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs nopadding"></div>
</div>