{% load staticfiles %}
<div class="row vspace">
    <a href="{% url 'categoryNews' 10 %}">
            <div class="col-lg-3 nomargin nopadding text-center section-block" style="background-color:#7ebb2b;">
                <span></span>

                <img src="{% static 'img/section1.png' %}">

                <h4 class="nomargin" style="background-color:rgba(88, 131, 30, 0.55);">صحة
                الأسرة و الطفل</h4>

            </div>
    </a>
    <a href="#">
            <div class="col-lg-3 nomargin nopadding text-center section-block" style="background-color:#0072bc;">
                <span></span><img src="{% static 'img/section2.png' %}"><h4 class="nomargin"
                                                             style="background-color:rgba(30, 52, 131, 0.55);">علوم و
                تكنولوجيا</h4></div>

    </a>
    <a href="{% url 'categoryNews' 6 %}">
            <div class="col-lg-3 nomargin nopadding text-center section-block" style="background-color:#e1a642;">
                <span></span><img src="{% static 'img/section3.png' %}"><h4 class="nomargin"
                                                             style="background-color:rgba(107, 71, 18, 0.55);">الثقافة و
                الفن</h4></div>

        </a>

    <a href="{% url 'categoryNews' 2 %}">
            <div class="col-lg-3 nomargin nopadding text-center section-block" style="background-color:#92278f;">
                <span></span><img src="{% static 'img/section4.png' %}"><h4 class="nomargin"
                                                             style="background-color:rgba(87, 30, 131, 0.55);">عالم
                المرأة</h4></div>
        </a>
        </div>


        <div class="row vspace">
            <a href="{% url 'categoryNews' 7 %}">
            <div class="col-lg-3 nomargin nopadding text-center section-block" style="background-color:#f26522;">
                <span></span><img src="{% static 'img/section5.png' %}"><h4 class="nomargin"
                                                             style="background-color:rgba(131, 95, 30, 0.55);">
                منوعات</h4></div>
                </a>

            <a href="{% url 'categoryNews' 8 %}">
            <div class="col-lg-3 nomargin nopadding text-center section-block" style="background-color:#00aeef;">
                <span></span><img src="{% static 'img/section6.png' %}"><h4 class="nomargin"
                                                             style="background-color:rgba(30, 131, 117, 0.55);">
                رياضة</h4></div>

                </a>

            <a href="{% url 'categoryNews' 11 %}">
            <div class="col-lg-3 nomargin nopadding text-center section-block" style="background-color:#01a89e;">
                <span></span><img src="{% static 'img/section7.png' %}"><h4 class="nomargin"
                                                             style="background-color:rgba(18, 107, 86, 0.55);">مال و
                أعمال</h4></div>
                </a>
            <a href="{% url 'categoryNews' 12 %}">
            <div class="col-lg-3 nomargin nopadding text-center section-block" style="background-color:#605ca8;">
                <span></span><img src="{% static 'img/section8.png' %}"><h4 class="nomargin"
                                                             style="background-color:rgba(69, 41, 95, 0.55);">
                المجتمع</h4></div>
                </a>
        </div>