{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>بواية العالم</title>
    <link rel="stylesheet" href="{% static 'layerslider/css/layerslider.min.css' %}" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.min.css.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <style>
    body {font-family: 'Cairo', sans-serif;direction:rtl!important;text-align:right!important;}
    </style>
</head>