{% load staticfiles %}
{% load gate %}
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right nopadding">
    <div class="cube col-lg-11 col-md-11 col-sm-11 col-xs-12 nopadding">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
             style="background-color:#666;color:#fff;border-top:4px solid #fd4a29;"><h4>آخر الأخبار</h4>
        </div>
        {% for new in last_three_feeds %}
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-10 news-card">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pull-right nopadding">
                            <span>
                                <a href="{% url 'news' new.id %}">
                                    <img src="{% static 'img/news-link.png' %}">
                                </a>
                            </span>
                    {% if  new.rss_thumbnail != None %}

                        <img src="{{ new.rss_thumbnail }}">

                    {% else %}
                        <img src="{% static 'img/homePlaceholder.gif' %}">
                    {% endif %}
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 pull-right no-gutter-left">
                    <p>
                        <a href="{% url 'news' new.id %}">{{ new.rss_title }}</a>
                    </p>
                    <ul class="news-data no-gutter-right">
                        <li><i class="fa fa-clock-o" aria-hidden="true"></i> {{ new.rss_publish_date }}</li>
                        <li><i class="fa fa-folder-open" aria-hidden="true"></i> <a
                                href="#">{{ new.rss_category.rss_category }}</a></li>
                    </ul>
                </div>
            </div>
        {% endfor %}
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-10 news-card">
            <ul class="news-data more">
                <li><i class="fa fa-caret-left" aria-hidden="true"></i> <a href="{% url 'lastnews' %}">اقرأ المزيد</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs nopadding"></div>
</div>