{% load staticfiles %}
{% load gate %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
         style="background-color:#666;color:#fff;border-top:4px solid #fd4a29;"><h4>آخر أخبار
        العالم</h4></div>
    {% for news in world_new %}
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding mid-news-card">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 nopadding pull-right nimage"><span>
                            <a href="#">
                                <img src="{% static 'img/news-link.png' %}">
                            </a>
                        </span>
                {% if  news.rss_thumbnail %}
                        <img src="{{ news.rss_thumbnail|get_or_404 }}" style="width:auto;height:100%;min-height:150px;">
                    {% else %}
                        <img src="{% static 'img/placeholder-min.jpg' %}" style="width:auto;height:100%;min-height:150px;">
                    {% endif %}

            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <h4><a href="{% url 'news' news.id %}">{{ news.rss_title|striptags }}</a></h4>
                <ul class="news-data">
                    <li><i class="fa fa-clock-o" aria-hidden="true"></i> {{ news.rss_publish_date }}</li>
                    <li><i class="fa fa-folder-open" aria-hidden="true"></i> {{ news.rss_category.rss_category }}</li>
                    {#                                <li><i class="fa fa-comments" aria-hidden="true"></i> 1348 تعليق</li>#}
                    <li><i class="fa fa-eye" aria-hidden="true"></i> {{ news.rss_views_no }} مشاهدة</li>
                </ul>
                <p>
                    {% if news.rss_description  %}
                    {{ news.rss_description|striptags }}
                    {% endif %}

                </p>

                <div class="col-lg-12 nopadding news-card">
                    <ul class="news-data more">
                        <li><i class="fa fa-caret-left" aria-hidden="true"></i> <a
                                href="{% url 'news' news.id %}">اقرأ المزيد</a>
                        </li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}


</div>





