{% load staticfiles %}
<div class="col-lg-4 nopadding sideblock">
            <div class="cube col-lg-11 nopadding">
                <ul class="nav nav-pills nav-justified nopadding">
                    <li class="active"><a href="#tab_a" data-toggle="pill">رائج الآن</a></li>
                    <li><a href="#tab_b" data-toggle="pill">أحداث</a></li>
                    <li><a href="#tab_c" data-toggle="pill">تعليقات</a></li>
                </ul>
                <div class="tab-content col-lg-12 col-md-12 no-gutter">
                    <div class="tab-pane active" id="tab_a">
                        <div class="col-lg-12 padding-10 news-card">
                            <img src="{% static 'img/n1.jpg' %}">

                            <p><a href="#">هنالك العديد من انواع لوريم ايبسم</a></p>
                            <ul class="news-data">
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> يونيو 4, 2016</li>
                                <li><i class="fa fa-folder-open" aria-hidden="true"></i> <a href="#">سياسة</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-12 padding-10 news-card">
                            <img src="{% static 'img/n2.jpg' %}">

                            <p><a href="#">هنالك العديد من انواع لوريم ايبسم</a></p>
                            <ul class="news-data">
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> يونيو 4, 2016</li>
                                <li><i class="fa fa-folder-open" aria-hidden="true"></i> <a href="#">سياسة</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-12 padding-10 news-card">
                            <img src="{% static 'img/n3.jpg' %}">

                            <p><a href="#">هنالك العديد من انواع لوريم ايبسم</a></p>
                            <ul class="news-data">
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> يونيو 4, 2016</li>
                                <li><i class="fa fa-folder-open" aria-hidden="true"></i> <a href="#">سياسة</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-12 padding-10 news-card">
                            <ul class="news-data more">
                                <li><i class="fa fa-caret-left" aria-hidden="true"></i> <a href="#">اقرأ المزيد</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_b">
                        <div class="col-lg-12 padding-10 news-card">
                            <img src="{% static 'img/n2.jpg' %}">

                            <p><a href="#">هنالك العديد من انواع لوريم ايبسم</a></p>
                            <ul class="news-data">
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> يونيو 4, 2016</li>
                                <li><i class="fa fa-folder-open" aria-hidden="true"></i> <a href="#">سياسة</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-12 padding-10 news-card">
                            <img src="{% static 'img/n3.jpg' %}">

                            <p><a href="#">هنالك العديد من انواع لوريم ايبسم</a></p>
                            <ul class="news-data">
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> يونيو 4, 2016</li>
                                <li><i class="fa fa-folder-open" aria-hidden="true"></i> <a href="#">سياسة</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-12 padding-10 news-card">
                            <img src="{% static 'img/n1.jpg' %}">

                            <p><a href="#">هنالك العديد من انواع لوريم ايبسم</a></p>
                            <ul class="news-data">
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> يونيو 4, 2016</li>
                                <li><i class="fa fa-folder-open" aria-hidden="true"></i> <a href="#">سياسة</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-12 padding-10 news-card">
                            <ul class="news-data more">
                                <li><i class="fa fa-caret-left" aria-hidden="true"></i> <a href="#">اقرأ المزيد</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_c">
                        <div class="col-lg-12 padding-10 news-card">
                            <img src="{% static 'img/n3.jpg' %}">

                            <p><a href="#">هنالك العديد من انواع لوريم ايبسم</a></p>
                            <ul class="news-data">
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> يونيو 4, 2016</li>
                                <li><i class="fa fa-folder-open" aria-hidden="true"></i> <a href="#">سياسة</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-12 padding-10 news-card">
                            <img src="{% static 'img/n1.jpg' %}">

                            <p><a href="#">هنالك العديد من انواع لوريم ايبسم</a></p>
                            <ul class="news-data">
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> يونيو 4, 2016</li>
                                <li><i class="fa fa-folder-open" aria-hidden="true"></i> <a href="#">سياسة</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-12 padding-10 news-card">
                            <img src="{% static 'img/n2.jpg' %}">

                            <p><a href="#">هنالك العديد من انواع لوريم ايبسم</a></p>
                            <ul class="news-data">
                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> يونيو 4, 2016</li>
                                <li><i class="fa fa-folder-open" aria-hidden="true"></i> <a href="#">سياسة</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-12 padding-10 news-card">
                            <ul class="news-data more">
                                <li><i class="fa fa-caret-left" aria-hidden="true"></i> <a href="#">اقرأ المزيد</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- tab content -->
            </div>
            <div class="col-lg-1 nopadding"></div>
        </div>