{% load staticfiles %}
<div class="col-lg-4 pull-right nopadding sideblock">
                <div class="cube col-lg-11 nopadding">
                    <div class="col-lg-12 title"><h4>مكتبة الفيديو</h4></div>
                    <iframe style="width:100%;min-height: 200px;height:auto;"
                            src="https://www.youtube.com/embed/YD3VoDoxKYw" frameborder="0" allowfullscreen></iframe>


                    <div class="col-lg-12 padding-10 news-card">
                        <ul class="news-data more">
                            <li><i class="fa fa-caret-left" aria-hidden="true"></i> <a href="#">تصفح المزيد</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-1 nopadding"></div>
            </div>