{% load staticfiles %}
{% load gate %}


<div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
             style="background-color:#666;color:#fff;border-top:4px solid #fd4a29;"><h4>شائع حول العالم</h4>
        </div>
        <div id="layerslider-container3">

            <div id="layerslider3" class="nopadding hero-news-card">

{#                <div class="ls-layer nopadding"#}
{#                     style="slidedirection: right; slidedelay: 16000; durationin: 100; durationout: 2500; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 0; delayout: 0;">#}
{#                    {% for news in common_news|slice:":8" %}#}
{#                        <div class="ls-s-1 col-lg-3 col-md-3 col-sm-3 col-xs-6 popular">#}
{#                                <span><span><a href="#">#}
{#                                    <img src="{% static 'img/news-link.png' %}">#}
{#                                </a></span>#}
{#                                    {% if  news.rss_thumbnail != None %}#}
{#                                        {% get_or_404 news.rss_thumbnail as image_status %}#}
{##}
{#                                        {% if image_status %}#}
{#                                            <img src="{{ news.rss_thumbnail }}">#}
{#                                        {% else %}#}
{#                                            <img src="{% static 'img/placeholder-min.jpg' %}">#}
{#                                        {% endif %}#}
{#                                    {% else %}#}
{#                                        <img src="{% static 'img/placeholder-min.jpg' %}">#}
{#                                    {% endif %}#}
{#                                </span>#}
{#                            <h5><a href="{% url 'news' news.id %}">{{ news.rss_title }}</a></h5>#}
{#                        </div>#}
{#                    {% endfor %}#}
{##}
{#                </div>#}


                <div class="ls-layer nopadding"
                     style="slidedirection: right; slidedelay: 16000; durationin: 100; durationout: 2500; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 0; delayout: 0;">
                    {% for news in common_news|slice:":8" %}
                        <div class="ls-s-1 col-lg-3 col-md-3 col-sm-3 col-xs-6 popular">
                                <span><span>
                                    <a href="#">
                                        <img src="{% static 'img/news-link.png' %}">
                                    </a>
                                </span>
                                    {% if  news.rss_thumbnail != None %}
                                        {% get_or_404 news.rss_thumbnail as image_status %}

                                        {% if image_status %}
                                            <img src="{{ news.rss_thumbnail }}">
                                        {% else %}
                                            <img src="{% static 'img/placeholder-min.jpg' %}">
                                        {% endif %}
                                    {% else %}
                                        <img src="{% static 'img/placeholder-min.jpg' %}">
                                    {% endif %}
                                </span>
                            <h5><a href="{% url 'news' news.id %}">{{ news.rss_title }}</a></h5>
                        </div>
                    {% endfor %}

                </div>


                <div class="ls-layer nopadding"
                     style="slidedirection: right; slidedelay: 16000; durationin: 100; durationout: 2500; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 0; delayout: 0;">
                    {% for news in common_news|slice:"16:24" %}
                        <div class="ls-s-1 col-lg-3 col-md-3 col-sm-3 col-xs-6 popular">
                                <span><span>
                                    <a href="#">
                                        <img src="{% static 'img/news-link.png' %}">
                                    </a>
                                </span>
                                    {% if  news.rss_thumbnail != None %}
                                        {% get_or_404 news.rss_thumbnail as image_status %}

                                        {% if image_status %}
                                            <img src="{{ news.rss_thumbnail }}">
                                        {% else %}
                                            <img src="{% static 'img/placeholder-min.jpg' %}">
                                        {% endif %}
                                    {% else %}
                                        <img src="{% static 'img/placeholder-min.jpg' %}">
                                    {% endif %}
                                </span>
                            <h5><a href="{% url 'news' news.id %}">{{ news.rss_title }}</a></h5>
                        </div>
                    {% endfor %}

                </div>

            </div>
        </div>
    </div>


</div>