<!DOCTYPE html>
<html lang="en">
{% include 'base/headTag.html' %}
<body>
    <!-- Navigation -->
    {% include 'base/navigationMenu.html' %}
    <!-- Page Content -->
    <div class="container">


        <div class="row">
			<div class="col-lg-8 pull-right nopadding">
			{% include 'base/news_element.html' %}

            </div>


			{% include 'base/adv4.html' %}

		<div class="row">
			{% include 'base/worldCommon.html' %}
        </div>
        </div>
        <!-- /.row -->
    </div>
    {% include 'base/baseJS.html' %}
</body>
</html>
